%h1 Do
%p Find me in app/views/do.html.haml
%div{"ng-app"=>"myApp"}
  %div{"ng-controller" => "AccordionDemoCtrl"}
    %p
      %button.btn.btn-default.btn-sm{"ng-click" => "status.open = !status.open"} Toggle last panel
      %button.btn.btn-default.btn-sm{"ng-click" => "status.isFirstDisabled = ! status.isFirstDisabled"} Enable / Disable first panel
    %label.checkbox
      %input{"ng-model" => "oneAtATime", type: "checkbox"}/
      Open only one at a time
    %accordion{"close-others" => "oneAtATime"}
      %accordion-group{heading: "Static Header, initially expanded", "is-disabled" => "status.isFirstDisabled", "is-open" => "status.isFirstOpen"}
        This content is straight in the template.
      %accordion-group{heading: "", "ng-repeat" => "group in groups"}
        {{group.content}}
      %accordion-group{heading: "Dynamic Body Content"}
        %p The body of the accordion group grows to fit the contents
        %button.btn.btn-default.btn-sm{"ng-click" => "addItem()"} Add Item
        %div{"ng-repeat" => "item in items"}
      %accordion-group{"is-open" => "status.open"}
        %accordion-heading
          I can have markup, too!
          %i.pull-right.glyphicon{"ng-class" => "{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"}
        This is just some content to illustrate fancy headings.

