%div
  %div{"ng-controller" => "AlertDemoCtrl"}
    %alert{"ng-repeat"=>"alert in alerts", "type"=>"{{alert.type}}", "close"=>"closeAlert($index)"}
      {{alert.msg}}
    %button.btn.btn-default{"ng-click"=>"addAlert()"}
      Add Alert