!!!
%html{"ng-app"=>"myApp"}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    = javascript_include_tag "https://code.jquery.com/jquery-2.1.1.min.js"

    / Latest compiled and minified CSS
    = stylesheet_link_tag "http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"
    / Optional theme
    = stylesheet_link_tag "http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css"

    / Latest compiled and minified JavaScript
    = javascript_include_tag "http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"

    / AngularJS
    / %script{src: "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.10/angular.min.js"}
    / %script{src: "https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"}
    = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular.js"
    / = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-resource.min.js"
    = javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.11.0/ui-bootstrap-tpls.min.js"

    / assets
    = javascript_include_tag :application

    / HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    / WARNING: Respond.js doesn't work if you view the page via file://
    /[if lt IE 9]
      = javascript_include_tag "https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"
      = javascript_include_tag "https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"

    %title Amimar

    = stylesheet_link_tag :application, media: "all"

    = csrf_meta_tags

  %body
    = render "layouts/main_header"
    .container
      /= render partial: "layouts/flash_messages", flash: flash
      = yield
    /= render "layouts/public_footer"
